{%	load	staticfiles	%}


<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Stratinium</title>


       <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>


    <link href="{%	static	'sociallink.css'	%}" rel="stylesheet">
     <link href="{%	static	'w3.css'	%}" rel="stylesheet">
     <link href="{%	static	'css/pagescroll.css'	%}" rel="stylesheet">
    <!-- <link href="{%	static	'style.css'	%}" rel="stylesheet">-->
      <link href="{%	static	'css1/style.css'	%}" rel="stylesheet">
      <link href="{%	static	'css2/style.css'	%}" rel="stylesheet">
      <link href="{%	static	'css/buttons.css'	%}" rel="stylesheet">

      <link href="{%	static	'css/signup.css'	%}" rel="stylesheet">

       <link href="{%	static	'img_scroll/animation.css'	%}" rel="stylesheet">
       <link href="{%	static	'img_scroll/reset.css'	%}" rel="stylesheet">
       <link href="{%	static	'img_scroll/style.css'	%}" rel="stylesheet">





      <style type="text/css">

	   * { margin: 0; padding: 0; }
	   p { padding: 10px; }
	   #left { position: absolute; left: 0; top: 60px; width: 50%; }
	   #right { position: absolute; right: 20px; top: 200px; width: 50%; }

	   #left1 { position: absolute; left: 0; top: 200px; width: 50%; }
	   #right1{ position: absolute; right: 20px; top: 60px; width: 50%; }




	</style>

       </head>

  <body>




          {%	block	content	%}
          {%	endblock	%}

          {% block body %}
          {%	endblock	%}





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{%	static	'javascript/jquery-1.11.3.min.js'	%}"></script>
    <script src="{%	static	'javascript/PageScroll.js'	%}"></script>
    <script src="{%	static	'javascript/jquery.dropotron-1.0.js'	%}"></script>
    <script src="{%	static	'javascript/jquery.slidertron-1.1.js'	%}"></script>
      <!--<script src="{%	static	'javascript/1.js'	%}"></script>-->
      <script src="{%	static	'javascript/2.js'	%}"></script>
  <script src="{%	static	'javascript/index.js'	%}"></script>



  </body>
</html>
