{% extends 'base.html' %}

{%	block	content	%}
<div class="wrapper2">
    <form class="form-signin">
      <h2 class="form-signin-heading">SIGN UP</h2>

        <input type="text" class="form-control" name="phone" placeholder="Phone number" required="" autofocus="" />

      <input type="email" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />

      <input type="password" class="form-control" name="password" placeholder="password" required="" autofocus="" />

<input type="repassword" class="form-control" name="repassword" placeholder="confirm password" required=""/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">SignUp</button>
    </form>
  </div>

{%	endblock	%}



